{% extends 'users/layout/form-layout.html' %}
{% load staticfiles %}

{% block form_header %}
    {{ block.super }}
    <div class="forget-title">Change Password</div>
    <div class="forget-text">Enter your password below to change the password
        on your
    </div>
{% endblock %}

{% block main_form %}

    <form class="form-horizontal login-form col-center"
          action="{% url 'users:password_change' %}" method="post">
        {% csrf_token %}
        <div class="form-group ">
            <div class="col-lg-7 col-xs-12 col-sm-7 col-center ">
                {{ form.new_password1 }}
                {% if form.new_password1.errors %}
                    <p class="ele-font-size text-danger ">{{ form.new_password1.errors.as_text }}</p>
                {% endif %}
            </div>
        </div>
        <div class="form-group ">
            <div class="col-lg-7 col-xs-12 col-sm-7 col-center ">
                {{ form.new_password2 }}
                {% if form.new_password2.errors %}
                    <p class="ele-font-size text-danger ">{{ form.new_password2.errors.as_text }}</p>
                {% endif %}
            </div>
        </div>
        <div class="form-group ">
            <div class="col-lg-7 col-xs-12 col-sm-7 col-center ">
                {{ form.old_password }}
                {% if form.old_password.errors %}
                    <p class="ele-font-size text-danger ">{{ form.old_password.errors.as_text }}</p>
                {% endif %}
            </div>
        </div>
        <div class="form-group ">
            <div class="col-lg-7 col-xs-12 col-sm-7  col-center reset-password ">
                <button type="submit"
                        class="btn btn-primary custom-login-btn btn-lg custom-btn-block">
                    Change Password
                </button>
            </div>
        </div>
        <div class="border-bottom col-sm-12 text-center">
                              <span class="bottom-text text-center">
                                 <a class="signup-login" href="{% url 'dashboard:dashboard_page' %}">
                                    Back to dashboard
                                 </a>
                              </span>
                           </div>
    </form>
{% endblock %}
