{% extends 'users/layout/form-layout.html' %}
{% load staticfiles %}

{% block css_header %}
    {{ block.super }}
    {#    <link rel="stylesheet" href="{% static 'css/style.css' %}">#}
{% endblock %}

{% block body_block %}
    <div class="site-wrapper">
    {% if messages %}
            {% for message in messages %}
                <p class="bg-success ele-font-size text-center text-success element-pedding {% if message.tags %} {{ message.tags }} {% endif %}">
                    {{ message }}
                </p>
            {% endfor %}
        {% endif %}
         <div class="main-wraper">
            <div class="site-wrapper-inner">
               <div class="col-xs-12 col-lg-6 col-sm-12 fix-width col-center">
                  <div class="well well-default clearfix">
                     <div class="col-xs-12 col-lg-6 col-sm-6 text-center left-signup-section">
                        <img src="{% static 'img/logo.png' %}" alt="logo">
                        <span class="sign-up-text clearfix">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make</span>
                     </div>
                     <div class="col-xs-12 col-lg-6 col-sm-6 sign-up-right">
                        <div class="sign-up-title">Sign Up</div>
                        <span class="sign-up-bottom">Completely free. No credit card required.</span>
                        <form class="form-horizontal login-form" method="post" action="{% url 'users:sign_up' %}">
                            {% csrf_token %}
                           <div class="form-group ">
                              <div class="col-sm-12  ">
                                  {{ form.username }}
                                  {% if form.username.errors %}
                                            <p class="ele-font-size text-danger ">{{ form.username.errors.as_text }}</p>
                                        {% endif %}
                              </div>
                           </div>
                           <div class="form-group">
                              <div class="col-sm-12">
                                  {{ form.email }}
                                  {% if form.email.errors %}
                                            <p class="ele-font-size text-danger ">{{ form.email.errors.as_text }}</p>
                                        {% endif %}
                              </div>
                           </div>
                           <div class="form-group">
                              <div class="col-sm-12">
                                  {{ form.password }}
                                  {% if form.password.errors %}
                                            <p class="ele-font-size text-danger ">{{ form.password.errors.as_text }}</p>
                                        {% endif %}
                              </div>
                           </div>
                           <div class="form-group">
                              <div class='col-xs-12 col-md-6 col-sm-12 pull-right'>
                                 <button type="submit" class="btn btn-primary custom-login-btn btn-lg custom-btn-block">Sign Up</button>
                              </div>
                           </div>
                           <div class="border-bottom col-sm-12 text-center">
                              <span class="bottom-text text-center">
                                 Already have an account?
                                 <a class="signup-login" href="{% url 'users:login' %}">
                                    Log in
                                 </a>
                              </span>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>


{% endblock %}


<!DOCTYPE html>
<html lang="en-US">
   <head>
      <!-- ==============================================
         Title and Meta Tags
         =============================================== -->
      <meta http-equiv="content-type" content="text/html; charset=utf-8">
      <meta charset="utf-8">
      <title>Basic Project</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="keywords" content="HTML, CSS, XML, XHTML, JavaScript">
      <meta name="description" content="">
      <meta name="author" content="">

         <!-- ==============================================
         CSS
         =============================================== -->    
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/style.css">
      <link rel="stylesheet" href="css/responsive.css">
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,600,400italic,600italic,700' rel='stylesheet' type='text/css'>    
   </head>
   <body class="main-bg">
      <div class="site-wrapper">
         <div class="main-wraper">
            <div class="site-wrapper-inner">
               <div class="col-xs-12 col-lg-6 col-sm-12 fix-width col-center">
                  <div class="well well-default clearfix">
                     <div class="col-xs-12 col-lg-6 col-sm-6 text-center left-signup-section">
                        <img src="images/logo.png" alt="logo">
                        <span class="sign-up-text clearfix">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make</span>
                     </div>
                     <div class="col-xs-12 col-lg-6 col-sm-6 sign-up-right">
                        <div class="sign-up-title">Sign Up</div>
                        <span class="sign-up-bottom">Completely free. No credit card required.</span>
                        <form class="form-horizontal login-form">
                           <div class="form-group ">
                              <div class="col-sm-12  ">
                                 <input type="email" class="form-control"  placeholder="Name">
                              </div>
                           </div>
                           <div class="form-group">
                              <div class="col-sm-12">
                                 <input type="password" class="form-control" placeholder="Email">
                              </div>
                           </div>
                           <div class="form-group">
                              <div class="col-sm-12">
                                 <input type="password" class="form-control" placeholder="Password">
                              </div>
                           </div>
                           <div class="form-group">
                              <div class='col-xs-12 col-md-6 col-sm-12 pull-right'> 
                                 <button type="button" class="btn btn-primary custom-login-btn btn-lg custom-btn-block">Sign Up</button>
                              </div>
                           </div>
                           <div class="border-bottom col-sm-12 text-center">
                              <span class="bottom-text text-center">
                                 Already have an account? 
                                 <a class="signup-login" href="">
                                    Log in
                                 </a>
                              </span>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>

