{% extends "users/layout/base.html" %}
{% load staticfiles %}

{% block css_header %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/openlayer3.css' %}" type="text/css">
{% endblock %}


{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% block body_block %}

    <div class="container-fluid">
        {% if messages %}
            {% for message in messages %}
                <p class="bg-success ele-font-size text-center text-success element-pedding {% if message.tags %} {{ message.tags }} {% endif %}">
                    {{ message }}
                </p>
            {% endfor %}
        {% endif %}

        <!-- Main jumbotron for a primary marketing message or call to action -->

        <div class="container-fluid">

            <div class="row-fluid">
                <div class="span12">
                    <div id="map" class="map" tabindex="0"></div>
                    <div class="btn-group" role="group" style='position: absolute; top:30px; right: 40px;'>
                        <a class="btn btn-default" href="{% url 'dashboard:setting_page' %}">Settings</a>
                        <a class="btn btn-default" href="{% url 'users:logout' %}">Logout</a>
                    </div>
                </div>
            </div>

        </div>
        <input hidden="hidden" id="start_date" value="{% if start_date %}{{ start_date }} {% endif %}">
        <input hidden="hidden" id="end_date" value="{% if end_date %}{{ end_date }} {% endif %}">
        <input hidden="hidden" id="vehicle" value="{% if vehicle %}{{ vehicle }} {% endif %}">



        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
    </div>


{% endblock %}

{% block js_footer %}
    {{ block.super }}
    <script src="{% static 'js/bootstarp3.3.5.js' %}"></script>
    <script src="{% static 'js/open-layer3.js' %}"></script>
    <script src="{% static 'js/moment.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'js/common-script.js' %}"></script>
    <script src="{% static 'js/dashboard-script.js' %}"></script>

{% endblock %}

