{% extends "users/layout/base.html" %}
{% load staticfiles %}

{% block css_header %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/openlayer3.css' %}" type="text/css">
{% endblock %}


{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% block body_block %}

    <div class="container-fluid">
        {% if messages %}
            {% for message in messages %}
                <p class="bg-success ele-font-size text-center text-success element-pedding {% if message.tags %} {{ message.tags }} {% endif %}">
                    {{ message }}
                </p>
            {% endfor %}
        {% endif %}
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="navbar-brand">Hello {{ user.username }}</span>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'dashboard:dashboard_page' %}">Map</a></li>
                        <li><a href="{% url 'dashboard:setting_page' %}">Settings</a></li>
                        <li><a href="{% url 'users:password_change' %}">Change Password</a></li>
                        <li><a href="{% url 'users:logout' %}">Log-out</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>



    <div class="container">
            {% if objects_list %}
                <div class="panel panel-default">
                    <div class="panel-heading">Report Generation</div>
                    <div class="panel-body">

                    <div class='col-md-2'>
                        <label for="object_id" class="control-label">Vehicle</label>
                        <select id="object_id" class="form-control">
                            {% for key, value in objects_list.items %}

                                <option value="{{ key }}">{{ value }}</option>
                            {% endfor %}
                        </select>
                    </div>

                        <div class='col-md-5'>
                            <div class="form-group">
                                <label for="datetimepicker6">&nbsp;</label>
                                <div class='input-group date' id='datetimepicker6'>
                                    <input type='text' class="form-control" placeholder="Start Date/Time" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-5'>
                            <div class="form-group">
                                <label for="datetimepicker7">&nbsp;</label>
                                <div class='input-group date' id='datetimepicker7'>
                                    <input type='text' class="form-control" placeholder="End Date/Time" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-5'>
                            <div class="form-group">
                                <div class='input-group date'>
                                    <button type="button" class="btn btn-primary" id="report_generate">Generate Report</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>



        <div class="container">
            <div class="row" id="reports"></div>
        </div>
        <!-- /.modal -->
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
    </div>


{% endblock %}

{% block js_footer %}
    {{ block.super }}
    <script src="{% static 'js/bootstarp3.3.5.js' %}"></script>
    <script src="{% static 'js/moment.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'js/common-script.js' %}"></script>
    <script src="{% static 'js/report-script.js' %}"></script>

{% endblock %}

